@media (max-width: 992px) {
    .container {
        max-width: 100%;
        padding: 0 20px; 
    }

    .container-nav { 
        display: flex;
        align-items: center;
    }

    .logo {
        font-size: 50px; 
        margin-bottom: 20px; 
    }

    .menu {
        display: none;
    }



    .picture-div {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    .picture-div-left {
        align-items: center; 
    }

    .h1-span {
        font-size: 50px; 
        line-height: 65px; 
        text-align: center; 
    }

    .span-1, .span-2 {
        text-align: center; 
    }

    .btn-left {
        gap: 15px; 
        margin-top: 50px; 
    }

    .btn-left-left {
        font-size: 16px; 
        padding: 10px 30px; 
    }

    .btn-right-right a {
        font-size: 16px; 
    }
    

    .menu-picture{
        display: block;
    }
}
